.home_backgroundWapper {
  background: linear-gradient(
    104.61deg,
    #ff00b8 2.65%,
    #ff655b 51.83%,
    #ffc700 100%
  );

  margin-top: -90px;
}
.home {
  border: 1px solid #ff00b8;
  border-bottom: 18px solid #ff00b8;
  background-color: #fff;
  border-radius: 20px;
}
.logo {
  z-index: 1000;
  margin-top: -50px;
}
.logo > img {
  object-fit: contain;
  height: 110px;
  margin-left: 50px;
}
.home_background {
  padding-bottom: 40px;
}
.banner {
  margin-top: 20px;
}
